#ignore venv
venv/
/venv/
./venv/
#ignore ide files
 *.idea/misc.xm
*.idea/modules.xml
 *.idea/php-test-framework.xml
 *.idea/php.xml
 *.idea/vcs.xml
*.idea/workspace.xml
*.idea/
/.idea/
*.pyc
/source/*.pyc
/source/*.png
.pytest_cache/